* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-form-container {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  min-height: 100vh;
}

.app-title {
  text-decoration: underline;
}

.input-form {
  padding-top: 1vw;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
  width: 100%;
  background-color: antiquewhite;
}

.title-input {
  font-weight: bold;
  width: 20vw;
  padding: 0.4vw 0 0.4vw 0.4vw;
}

.input-textarea {
  font-weight: bold;
  width: 20vw;
  min-height: 6vw;
  padding: 0.4vw 0 0 0.4vw;
  resize: none;
  overflow: hidden;
}

.add-button {
  width: 20vw;
  padding: 0.2vw 0;
}

.notes-list {
  padding: 1vw 9vw;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.6vw;
}
